.img--frame, .sponsors, .img--avatar, .img--github, .img--logo {
  display: block;
}

.headline--tertiary, .headline--secondary, .headline--primary, p {
  text-align: center;
}

.nav__item {
  margin: 0.375em auto;
}
.nav__item a {
  text-decoration: none;
  width: 100%;
  padding: 0.75em;
  display: block;
}
.nav__item a:hover {
  background-color: #ff9d00;
  color: white;
  border-radius: 0.5em;
}
@media (min-width: 1024px) {
  .nav__item {
    display: inline-block;
    align-items: center;
  }
}

.footer__nav a {
  text-decoration: none;
  padding: 0.75em;
  display: block;
}
.footer__nav a:hover {
  background-color: #ff9d00;
  color: white;
  border-radius: 0.5em;
}
@media (min-width: 1024px) {
  .footer__nav {
    display: inline-block;
    align-items: center;
  }
}

.grid__row, .grid__col--proj,
.grid__col--skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

a {
  color: #4f03a5;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  text-align: center;
  color: #4f03a5;
}

h1 {
  margin: 0.67em;
}

h5 {
  color: #f1bb9c;
  font-weight: bold;
}

span {
  color: #ff9d00;
}

ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

li {
  color: #4f03a5;
}

p {
  color: #4f03a5;
  margin: 0.75em 0.75em;
}
@media (min-width: 768px) {
  p {
    margin: 0.75em 4.75em;
  }
}
@media (min-width: 1280px) {
  p {
    margin: 0.75em 18.75em;
  }
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #0086df, rgba(0, 0, 0, 0));
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
}

#inline-footer-nav {
  display: none;
}

#mobile-footer-nav a {
  text-decoration: none;
  padding: 0.75em;
}

#mobile-footer-nav a:hover {
  background-color: #ff9d00;
  color: white;
  border-radius: 0.5em;
}

@media (min-width: 1024px) {
  #inline-footer-nav {
    display: contents;
  }

  #inline-footer-nav li {
    display: inline-block;
    padding: 12px;
  }

  #mobile-footer-nav {
    display: none;
  }
}
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #0086df;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  width: 100%;
  margin: auto;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #0086df;
  color: white;
}

body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #e9e9e9;
  /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.toggle-button {
  background-color: #e9e9e9;
  border: none;
  color: #4f03a5;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
}

.form > .btn--default {
  display: block;
  border: 0;
  padding: 0.75em;
  margin: 2.25em 0.75em;
  background-color: #4f03a5;
  color: white;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}
@media (min-width: 1024px) {
  .form > .btn--default {
    display: inline-block;
    border: 0;
    padding: 0.75em;
    margin: 2.25em 0em;
    background-color: #4f03a5;
    color: white;
    border-radius: 0.5em;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
  }
}

.grid__col--12 > .btn--default {
  display: block;
  border: 0;
  padding: 0.75em;
  margin: 2.25em auto;
  background-color: #68d9f1;
  color: white;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}

.grid__col--12 > .btn--success {
  display: block;
  border: 0;
  padding: 0.75em;
  margin: 2.25em auto;
  background-color: #5dc57a;
  color: white;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}

.grid__col--12 > .btn--error {
  display: block;
  border: 0;
  padding: 0.75em;
  margin: 2.25em auto;
  background-color: #dd8b8b;
  color: white;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}

.grid__col--12 > .btn--warning {
  display: block;
  border: 0;
  padding: 0.75em;
  margin: 2.25em auto;
  background-color: #ed8257;
  color: white;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}

.grid__col--12 > .btn--info {
  display: block;
  border: 0;
  padding: 0.75em;
  margin: 2.25em auto;
  background-color: #856ea2;
  color: white;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}

@media (min-width: 1024px) {
  .container {
    margin: 0;
  }
}

.card {
  margin: 0 0.75em;
  max-width: 100%;
}

.wrapper {
  padding: 0.375em 0 2.25em 0;
  background: #ff761b;
  background: linear-gradient(153deg, #ff761b 0%, #3300ff 100%);
  background-attachment: fixed;
  background-size: cover;
}

.grid__col--proj,
.grid__col--skills {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}
@media (min-width: 768px) {
  .grid__col--proj,
.grid__col--skills {
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
  }
}
@media (min-width: 1280px) {
  .grid__col--proj,
.grid__col--skills {
    width: 65%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
  }
}

@media (min-width: 1024px) {
  .grid__col--proj ul {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
}

.project-tile {
  flex: 1 50%;
  padding: 0.75em;
  margin: 0.75em auto;
}

.project-tile:hover .image--frame {
  opacity: 0;
}

.project-tile:hover .overlay {
  opacity: 1;
}

.project-photo {
  position: relative;
}

.skills--card {
  padding: 0.75em;
  margin: 0.75em;
  flex: 1 31%;
  height: 16.25em;
  width: 60%;
}

@media (min-width: 768px) {
  .contact-info li {
    display: inline-block;
    margin: 1.125em;
  }
}

.overlay {
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.65);
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  border-radius: 24px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.grid__col--3 {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: none;
  color: #4f03a5;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}

.grid__col--9 {
  width: 100%;
  margin: auto;
}

@media (min-width: 1024px) {
  .grid__col--12 {
    text-align: center;
  }
}
.grid__col--4 {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: none;
  color: #4f03a5;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}

.grid__col--9 {
  width: 100%;
  margin: auto;
}

@media (min-width: 1024px) {
  .grid__col--12 {
    text-align: center;
  }
}
.grid__col--5 {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: none;
  color: #4f03a5;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}

.grid__col--9 {
  width: 100%;
  margin: auto;
}

@media (min-width: 1024px) {
  .grid__col--12 {
    text-align: center;
  }
}
.grid__col--6 {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: none;
  color: #4f03a5;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}

.grid__col--9 {
  width: 100%;
  margin: auto;
}

@media (min-width: 1024px) {
  .grid__col--12 {
    text-align: center;
  }
}
.grid__col--7 {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: none;
  color: #4f03a5;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}

.grid__col--9 {
  width: 100%;
  margin: auto;
}

@media (min-width: 1024px) {
  .grid__col--12 {
    text-align: center;
  }
}
.grid__col--8 {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: none;
  color: #4f03a5;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}

.grid__col--9 {
  width: 100%;
  margin: auto;
}

@media (min-width: 1024px) {
  .grid__col--12 {
    text-align: center;
  }
}
.grid__col--12 {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: none;
  color: #4f03a5;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}

.grid__col--9 {
  width: 100%;
  margin: auto;
}

@media (min-width: 1024px) {
  .grid__col--12 {
    text-align: center;
  }
}
.contact-info {
  display: block;
  text-align: center;
  padding: 12px;
  line-height: 30px;
}

.img--logo {
  margin: 2.25em auto;
  width: 15.625em;
  height: 15.625em;
  transition-duration: 0.4s;
}
@media (min-width: 1024px) {
  .img--logo {
    width: 31.25em;
    height: 31.25em;
  }
}

.img--logo:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.img--github {
  padding: 0.75em;
  margin: 0.75em auto;
  max-width: 100%;
  transition: transform 0.4s;
}
@media (min-width: 1024px) {
  .img--github {
    display: inline-block;
  }
}

.img--resume {
  display: block;
  max-width: 937px;
  width: 100%;
  margin: auto;
}

.img--avatar {
  margin: 0 auto;
  padding: 1.5em;
}

@media (min-width: 1024px) {
  .sponsors {
    display: inline-block;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}

.img--frame {
  opacity: 1;
  width: 12.5em;
  max-width: 100%;
  margin: 2.25em auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
@media (min-width: 1024px) {
  .img--frame {
    display: inline-block;
  }
}

.header {
  display: none;
}
@media (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.mobile-name {
  text-align: center;
}
@media (min-width: 1024px) {
  .mobile-name {
    display: none;
  }
}

@media (min-width: 1024px) {
  .grid__col--9.show-mobile {
    display: none;
  }
}

.headline--primary {
  color: #4f03a5;
  padding-bottom: 1em;
}

.headline--secondary {
  font-size: 1.5em;
  padding-top: 0;
}

.headline--tertiary {
  color: white;
  font-size: 1.25em;
  padding-top: 0;
}

.list--primary li {
  color: #f1bb9c;
}

.list--primary p {
  color: #b8b2b2;
}

.list--secondary li {
  color: #eeeeee;
}

.symbol {
  font-size: 1.875em;
  margin-bottom: 1.5em;
}

.symbol--small {
  font-size: 1.25em;
}

.music-note {
  color: #0086df;
}

.white {
  color: white;
}

.link {
  color: #4f03a5;
  text-decoration: none;
  font-weight: bold;
}

#myBtn-2:hover {
  font-weight: bold;
  background-color: #0086df;
  color: white;
  border-radius: 0.5em;
  padding: 0.75em;
  transition: 0.4s;
}

/*# sourceMappingURL=styles.css.map */
